<html>
<header></header>
<body style="font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;">
<center>
    <div style="min-height: 50vh; width: 50vw; padding: 14px">
        <div style="text-align: center">
            <h1>Entre<span style="color: #d32f2f">gas</span></h1>
        </div>
        <h3>Olá $userName</h3>

        <p>Sua nova senha temporária é <b>$newPassword</b></p>

        <p><b>Por favor, altere o quando antes.</b></p>

        <a href="https://entregas-web-app.storage.googleapis.com/index.html">Acessar o Entregas</a>
    </div>
</center>
</body>
</html>
