<html>
<header></header>
<body style="font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;">
<center>
    <div style="min-height: 25vh; width: 25vw; padding: 14px; border: 1px solid;">
        <div style="text-align: center">
            <h1>Entre<span style="color: #d32f2f">gas</span></h1>
        </div>
        <h3>Bem-vindo ao Entregas $userName</h3>

        <p>Você se cadastrou com sucesso no nosso App.</p>
    </div>
</center>
</body>
</html>
